header{
	background-color:rgba(0,0,0,0.8);
	font-size: xx-large;
	text-align: center;
	color: white;
	height: 75px;
}
#paniervide{
	font-style:
	background-color:rgba(0,0,0,0.5);
	font-size: xx-large;
	text-align: center;
	color: white;
	height: 40px;
}
#article1{
	display: flex;
	border: 2px solid black;
	border-radius: 4px ;
	text-decoration: none;				/*eviter le lien bleu ou violet*/
	color: black;

}
#article1:hover{						/* effet ombre quand on passe le curseur sur le conteneur */
	box-shadow: 1px 1px 6px black;

}
#article1 .element{
	width:12%;
}
#article1 img{
	width:90%;
	max-height: auto;					/* image dans le conteneur*/
	padding:5px;
}

#article1 table thead{					/* taille de la police de la description de produit*/
	font-size: x-large;
}
#article1 table tbody{					/* taille de la police du prix et de la quantité souahité */
	font-size: large;
}