section
{
	margin-left: 15%;
	margin-right: 5%
}
section h1 {
	font-size: x-large;
	text-decoration: underline;
}
section p1
{
	font-size: large;
}
header{
	background-color:rgba(0,0,0,0.8);
	font-size: xx-large;
	text-align: center;
	color: white;
	height: 75px;
}
a {
	color: black;
	text-decoration: none;
}

#conteneur_principal
{
	margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: stretch;
    max-height: 10000px;
    border-top: 2.5px groove black;
    padding: 50px;


 }
#conteneur_principal .element
{
	background-color:rgba(0,0,0,0.05);
	box-shadow: 2.5px 2.5px 2.5px #aaa;
	border: none;
	margin: 10px;
	width:30%;
	height: 45%;
	text-align: center;
}
#conteneur_principal .element:hover{
	border: 2px solid grey;
	cursor: pointer;

}
img{
	width:100%;
	max-height: auto;
}

#conteneur_principal table
{
	border-top: groove;
	font-size: x-large;
	text-align: center;
	width: 100%;
	margin-top: 60px;
}
aside
{
	margin-left: 25px;
    position: fixed;
    top: 300px;
}
aside h1{
	font-size: x-large;
	border-bottom: 2px solid grey;
}
aside p{
	font-size: large;
}


