*   {   font-family : arial;
        margin: 0;
        text-decoration: none;
        color: black;
    }

#conteneur2, #conteneur1  {
    display: flex; 
}

#conteneur1  {
    justify-content: space-between;
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
    }

#conteneur2 {
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
    margin-left: 40px;
}


.element1{
     text-align: center;
     font-size: 34px;
     font-weight: bold;
     color: black;
}

.elem2{  
    margin-right: 40px;
}

#conteneur2 a {
    display: flex;
    justify-content: space-around;
    color: black;
    text-align: center;
    padding: 14px 16px;
    margin-right, margin-left: 20px;
    text-decoration: none;
    font-size: 17px;
}

#conteneur2 a.active {
    background-color: #2196F3;
    color: white;
}

#conteneur2 input[type=text] {
    float: left;
    padding: 14px 16px;
    border: none;
}

header {    background-color: #e9e9e9;

        padding: 5px;
}